@charset "UTF-8";
*{
    color: azure;
    background-color: black;
    text-align: center;
    /* padding: 30 30; */
}

p{
    font-size: small;
    /* position: absolute; */
    text-align: center;
    top: 50%;
	left: 50%;
	/* transform: translate(-50%, -50%);  */
	/* padding: 15px 30px; */
    width: 100%;
    padding-top: 3rem;
    ;
}

a{
    text-decoration: none;
    color: brown;
}
table{
    padding-top: 3rem;
    margin: auto;
}

.nagare1 p {
    margin:0;
    padding-left:100%; /*アニメーションの範囲*/
    /* padding-right: 0px; */
    width : 100%;
    overflow: hidden;
    display:inline-block; 
    white-space:nowrap;
    animation-name:nagare1; /*アニメーションのクラス名*/
    animation-timing-function:linear;/*アニメーションのタイミング・進行割合の指定*/
    animation-duration:10s; /*アニメーションの速度*/
    animation-iteration-count:infinite;/*アニメーションの動作回数*/
    /* animation-direction: reverse; */
    }
    @keyframes nagare1 {/*動作範囲(上級者向けの設定)*/
      from   { transform: translate(0%);} 
      99%,to { transform: translate(-100%);}
    }

.seacret-menu a{
    color: darkgray;
    font-size: small;
    text-decoration: underline;
}
    
.seacret-menu p{
        font-size: small;
        text-align: center;
        top: 10%;
        left: 20%;
        /* transform: translate(-50%, -50%);  */
        padding: 15px 30px;
        width: 300px;
    }

.causion .box{
    margin: 2em auto;
    padding: 1em;
    width: 30%;
    font-size: x-large;
    background-color: black; /* 背景色 */
    border: 1px solid #fff; /* 枠線 */}


.causion .poem{
    font-family: fantasy;
    font-size: medium;
    color: blueviolet;

}

.cushion h1{
    font-size: large;
    color: blueviolet;
    padding-top: 10rem;
}
.cushion a{
    color: darkgray;
    line-height: 2;
    font-size: small;
}
.enter{
    font-family: cursive;
    color: crimson;
    text-decoration: underline;
}

.aho{
    color: chartreuse;
}

.first-text{
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    /* padding-top: 20%; */
    padding-left: 20%;
    display: block;
    text-align: left;
    font-size: small;
}
.first-text h1{
    display: block;
    text-align: left;
    font-style: italic;
    color: greenyellow;
}
.first-text h2{
    color: aquamarine;
    display: block;
    text-align: left;
    font-style: italic;

}
.first-text h3{
    display: block;
    text-align: left;
    color: rgb(64, 226, 43);
}
.first-text h4{
    display: block;
    text-align: left;
    color: white;
}

 .first-text button{
    color:black;
    background-color: rgb(64, 226, 43);
 }

 .first-text a{
     color:aqua;
     padding-bottom: 20rem;
 }

 .underline{
     text-decoration: dotted;
 }

 .link a{
     display: inline;
     color: darkgray;
 }
 .link .kakko{
     color: gray;
 }

 .link h2{
     color: rgb(64, 226, 43);
     font-style: italic;
 }

 .link_kiri{
     text-decoration: underline;
 }

 .board{
    position:relative;
    width:100%;
    height:0;
    padding-top:75%;
}
.board iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}